<div class="Frame">
    <h2><a  href="/login">Sign In</a>
        <a href="/signup"> Sign Up</a></h2> 
<form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
    <input type="text" #email="ngModel" [(ngModel)]="model.email" name="email" placeholder="Email"
    required [pattern]="emailRegex" [ngClass]="{'invalid-textbox':signInForm.submitted && !email.valid}">
    <span *ngIf="signInForm.submitted && email.errors">
        <label *ngIf="email.errors.required" class="validation-message">This feild is required</label>
        <label *ngIf="email.errors.pattern" class="validation-message">Invalid Syntax of email</label>
    </span> 
    
    <input type="password" #password="ngModel" [(ngModel)]="model.password" name="password" placeholder="Password"
    minlength="4" required [ngClass]="{'invalid-textbox': signInForm.submitted && !password.valid}">
    <span *ngIf="signInForm.submitted && password.errors">
        <label *ngIf="password.errors.required" class="validation-message">This feild is required</label>
        <label *ngIf="password.errors.minlength" class="validation-message">Password atleast contains 4 character</label>
    </span>
    <input type="submit" value="Sign In">
</form>
</div>
    <div class="alert" *ngIf="serverErrorMessage">
     {{serverErrorMessage}}
    </div>